@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF;

}

h1,h2,h3,h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

h1{
	font-size: 30px;
	margin: 0;
}

h3, .h3{
	font-size: 18px;
}

/*Error paragraph for login page*/
#loginError, #signupError{
	color: red;
}

/* Used to keep containers in the center of the page */
.center {
	margin:0 auto;
	max-width: 1170px;
}

/*---Stuff for header and navbar*/

#header{
	background-color: #2D2D2D;
	width: 100%;
}

.logo{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 227px;
	height: 115px;
}

.login{
	margin-top: 130px;
}

.white{
	color: #f4f4f4;
}

.login>a{
	color: #444;
}

.navbar{
	margin-top: 0px;
	margin-bottom: 20px;
	border-radius: 15px;
	border: 0;
}


.navbar>.container{
	background-color: #FFF;

	background: #f8e300; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #f8e300 0%, #ECD900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d5e1ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8e300 0%,#ECD900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8e300 0%,#ECD900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8e300 0%,#ECD900 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8e300 0%,#ECD900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e300', endColorstr='#ECD900',GradientType=0 ); /* IE6-9 */

	/*border-radius: 5px;*/
	/*border:1px solid #ccc;*/
	padding-left: 0;
	width: 100%;
}

.icon-bar{
	background-color:#333; 
}

.navbar-toggle{
	border-color: #ccc;
}

/*.navbar .navbar-nav>li{
	border-left: 1px solid #ccc;
}

.navbar .navbar-nav>li:last-child{
	border-right: 1px solid #ccc;
}*/

.navbar .navbar-nav>li>a{
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	
}


.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #1E1E1E;
  color: #F1DD00;
}


#header .header-links {
	color: white;
	margin-bottom: 20px;
}


/*Stuff for home page*/
.foreground{
	padding: 0;
	background-color: rgba(255,255,255,.3);
	background-image: url('../img/contractor.jpg');
	background-repeat:no-repeat;
	/*background-size:100% auto;*/
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

   
}

.featured{
	background-color:#FFF; 
	/*background-color: #f3df00;
	*/
	border:1px solid #999;

	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;

}

.featured>a>img{
	border:1px solid #999;
}

.old{
	text-decoration: line-through;
	margin-bottom: 0;
}

.new{
	font-size: 1.8em;
	font-weight: 700;
	color:#cc0000;
}

.productLink{
	color: #000;
}

.productSpacer{
	height: 52px;
}

.glyphicon-star{
	color:#E6D500;
}

.glyphicon-star-empty{
	color: #E1E1E1;
}


.categories{
	margin-top: 20px;
	background-color: #FFF;
}

.slot{
	padding: 10px;
}

.slot a{
	text-decoration: none;
	color: #000;
}

.slot p{
	padding: 10px;
}

/*--Stuff for catalog and checkout page--*/



.option{
	padding: 10px;
	border: 1px solid #ccc;
}

.catStars{
	padding-bottom: 20px;
}

.price{
	font-size: 1.5em;
	font-weight: 700;
}

.cartPrice{
	font-size: 1.2em;
	font-weight: 700;
}

.emph{
	font-size: 1em;
	font-weight: 700;
}

.marT-20{
	margin-top: 20px;
}

.marB-20{
	margin-bottom: 20px;
}

.marT-10{
	margin-top: 10px;
}

.marB-10{
	margin-bottom: 10px;
}

.btn-default{
	background-color: #F1F5F8;
}

#signupForm, #loginForm{
	margin-top: 25px;
}

form input { 
	width: 12em; 
}

.labelFix{
	width:10em;
}
/*
fieldset{
	margin-top: 25px;
}*/

#card{
	margin-top: 0;
	margin-bottom: 25px;
}

#card>legend{
	margin-bottom: 10px;
	font-size: 1.1em;
}

.complete{
	margin-top: 25px;
}

/*--Stuff for footer--*/
.footer{
	background-color: #E5E5E5;
	border-top: 1px solid #e5e5e5;
	margin-top: 100px;
	padding-top: 15px;
}

ul{
	list-style-type: none;
}

.lead{
	margin-bottom: 5px;
}

.disclaimer{
	margin-top: 25px;
	font-size: 12px;
}

#ajax-search-results {
	height: auto;
	position: absolute;
	background-color: white;
	top: 100%;
	width: 100%;
	z-index: 999;
	display: none;
}

#ajax-search-results ul {
	height: auto;
}

#ajax-search-results li {
	padding: 10px;
	border-bottom: 1px solid gray;
}

@media (max-width: 990px) {
	
	.login{
		margin-top: 25px
	}

	/*.menuitem{
		border-top: 1px solid #ccc;
	}*/

	.featured{
		left: 50%;
		width:50%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.foreground{
		margin: 0;
		width: 100%;
		height:auto;
	
	}

	.social>div{
		padding: 15px;
	}

}

@media (max-width: 768px) {
	.brand{
		text-align: center;
	}

	.menuitem{
		text-align: center;
	}

	.featured{
		left: 10%;
		width:80%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.foreground{
		background-image:none;
	
	}

}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
}
