@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF;

}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0;
}

h2, .h2{
	font-size: 25px;
}

h3, .h3{
	font-size: 18px;
}


h2, h3, h4{
	font-weight: 600;
}



/*Error paragraph for login page*/
#error{
	color: red;
}

/* Used to keep containers in the center of the page */
.center {
	margin:0 auto;
	max-width: 1170px;
}

.clear {
	clear: both;
}

html {
	height: 100%;
}

#wrap {
	min-height: 100%;
	padding-bottom: 213px;
	margin-bottom: 100px;
}

#push-down{
	margin-top: 20px;

}

/*---Stuff for header and navbar*/

#header{
	background-color: #f8e300;
	width: 100%;
}

.logo{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 232px;
	height: 108px;
}

.login{
	margin-top: 130px;
	width: 305px;
	display: inline-block;
	padding-top: 120px;
	padding-bottom: 10px;
	float: right;
	margin: 0;
	-webkit-transition: all;
	   -moz-transition: all;
	    -ms-transition: all;
	     -o-transition: all;
	        transition: all;
}

.login a {
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid black;
}

.login a:last-child {
	border: none;
	margin-right: 0;
	padding-right: 0;
}

.icon-bar{
	background-color: #f4f4f4 !important;
}

.white{
	color: #f4f4f4;
}

.login>a{
	color: #444;
}

.login>a:hover{
	color: #8c8c8c;
}

/* ---------------------------------------------------------

	User Management container in the right side of the header 

-----------------------------------------------------------*/
#user-mgmt {
	display: block;
	overflow: hidden;
	width: 300px;
	margin:0 auto;
}
#account-button {
	float: left;
}
#logout-form {
	float: left;
	background: transparent;
	border: none;
	margin: -2px 0 0 0;
}
.user-mgmt-btn {
	background: transparent;
	border: none;
	float: left;
	margin-right: 20px;
	padding-right: 24px;
	border-right: 1px solid black;
}

.user-mgmt-btn span, #account-button span {
	color: #444;
	-webkit-transition: color, .2s;
	   -moz-transition: color, .2s;
	    -ms-transition: color, .2s;
	     -o-transition: color, .2s;
	        transition: color, .2s;
}



#logout-button:hover span, #account-button:hover span {
	color: #8c8c8c;
}

/* ---------------------------------------------------------

-----------------------------------------------------------*/

.navbar{
	margin-top: 0px;
	margin-bottom: 0;
	/*margin-bottom: 20px;*/
	border-radius: 15px;
	border: 0;
	-webkit-transition: all;
	   -moz-transition: all;
	    -ms-transition: all;
	     -o-transition: all;
	        transition: all;
}

.container {
	position: relative;
}

#logout-msg {
	text-align: center;
}

.navbar>.container{
	background: url(../img/footer.png) repeat;
	/*background-color: #323232;*/ 
	/*border-radius: 5px;*/
	/*border:1px solid #ccc;*/
	padding-left: 0;
	width: 100%;
}


.icon-bar{
	background-color:#333; 
}

.navbar-toggle{
	border-color: #ccc;
}



.navbar .navbar-nav>li>a{
	color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
	
}

.nav > li > a:hover,
.nav > li > a:focus {
  	background-color: transparent !important;
  	color: #F2AA00;
 	cursor: pointer;
}




/*About Pages*/

.page-tabs{
  	margin-bottom: 20px;
}

.pills{
	width: 100%;
	display: block;
	float: left;
	clear: both;
	margin: 10px auto;
	text-align: center;
	
}
ul.bullet{
	list-style-type: disc;
}

p.tab-pane{
	font-weight: 400 !important;
}

.nav-pills>li a{
  	color: #f4f4f4;
  	background-color: #000;
  	-webkit-transition: background-color 0.3s ease-out;
  	-moz-transition: background-color 0.3s ease-out;
  	-o-transition: background-color 0.3s ease-out;
 	 transition: background-color 0.3s ease-out;
}

.nav-pills>li a:hover{
	background-color: #444 !important;
	cursor: pointer;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  	color: #F2AA00;
  	background-color:#444;


}

.nav-pills, .tab-content{
  	width: 100%;
  	padding: 10px;
}

.txt-wrap{
	width: 80%;
	height: 50%;
	margin: auto;
	position: relative;
	top: 100px;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	vertical-align: middle;
	margin-bottom: 0;
	color: #f4f4f4;
	font-weight: 700;
	text-shadow: 0 1px 1px black;

}
.overlay{
	z-index: 2;
	background: rgba(0,0,0,0.7);
}
h2.titleimage{
	  z-index: 1;
	  font-size: 5em !important;   
	  text-align: center !important ;


}




.banner{	
  	margin-bottom: 20px;
  	height: 385px;
	background:
		linear-gradient(
	      rgba(0, 0, 0, 0.6), 
	      rgba(0, 0, 0, 0.6)
	    ),
	url(../img/about.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	z-index: -100;


 }
.business-banner{
	margin-top: 0;
	margin-bottom: 20px;
  	height: 385px;
	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.6), 
	      rgba(0, 0, 0, 0.6)
	    ),
	 url(../img/policies.jpg);
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;


}


/*Stuff for home page*/


.catg{
	font-size: 28px;
}

.thumbnail{
	height: 200px;
	border-radius: 0;

}

.deal{
	font-weight: 700;
}

.foreground{
	padding: 0;
	width: 100%;
	background-color: rgba(255,255,255,.3);
	background-image: url('../img/contractor.jpg');
	background-repeat:no-repeat;
	background-position:center;
	border-bottom: 1px solid #ccc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
   
}
.featured-wrapper{
	margin: 0 auto;
}
.featured{
	background-color:#FFF; 
	/*background-color: #f3df00; */
	border:1px solid #999;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;

}



.featured>a>img{
	border:1px solid #999;
}

.old{
	text-decoration: line-through;
	margin-bottom: 0;
}

.new{
	font-size: 1.8em;
	font-weight: 700;
	color:#cc0000;
}

.productLink{
	color: #000;
}

.productSpacer{
	height: 45px;
}



.glyphicon-star{
	color:#f8e300;
}

.glyphicon-star-empty{
	color: #E1E1E1;
}


.slot{
	padding: 10px;
}

.slot a{
	text-decoration: none;
	color: #000;
}

.slot p{
	padding: 10px;
}




/*--Stuff for catalog and checkout page--*/
.active{
	font-weight: 600 !important;
	color: #000;
}

hr{
	margin-top: 50px;
	margin-bottom: 30px;
}

hr.separate{
	margin-top: 50px;

}

textarea{
	width: 80% !important;
}

.none{
	margin: 0;
}
.push{
	float: right;
	margin: 0;
}

.option{
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;

}

.catStars{
	padding-bottom: 20px;
	padding-top: 8px;
}

.catStars-sim{
	padding-top: 25px;
}

.price{
	font-size: 1.5em;
	font-weight: 700;
}

.cartPrice{
	font-size: 1.2em;
	font-weight: 700;
}

.cart-update-form {
	margin-bottom: 10px;
}

.emph{
	font-size: 1em;
	font-weight: 700;
}

.marT-20{
	margin-top: 20px;
}

.marB-20{
	margin-bottom: 20px;
}

.marB-50{
	margin-bottom: 50px;
}
.marT-10{
	margin-top: 10px;
}

.marB-10{
	margin-bottom: 10px;
}

.marB-20{
	margin-bottom: 20px;
}

.btn-default{
	background-color: #F1F5F8;
}

.btn-ext{
	width: 90px;
	padding: 5px 5px;
	margin-left: 5px;
}



.breadcrumb{
	border-radius: 0 !important;
	background: #ededed;
}

.mobile{
	width: 100%;
	margin-bottom: 10px; 
	padding: 10px 0 10px 0;
}
.input-ext{
	width: 30px;
}

.ext{
	padding-left: 10px;
	padding-right: 30px;
}

#signupForm, #loginForm{
	margin-top: 25px;
}

form input { 
	width: 12em; 
}

form input {
	outline: none;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
}

form input.er {
	border-color: red!important;
}

.labelFix{
	width:10em;
}
/*
fieldset{
	margin-top: 25px;
}*/

#card{
	margin-top: 0;
	margin-bottom: 25px;
}

#card>legend{
	margin-bottom: 10px;
	font-size: 1.1em;
}

.complete{
	margin-top: 25px;
}

.qty-add {
	margin-top: -40px;
}

#checkout-form input {
	padding: 10px;
	margin-bottom: 10px;
}

#checkout-form .form-section ul {
	padding-left: 0;
}

#card-types [type="radio"] {
	width: 20px;
}

.expiration-month {
	width: 52px;
}

.expiration-year {
	width: 103px;
}


/*--Stuff for footer--*/
.footer{
	background: url(../img/footer.png) repeat;
	border-top: 1px solid #e5e5e5;
	margin-top: -214px;
	padding-top: 15px;
	border-top: 1px solid #070406;

}

.footer a{
	color: #a0a0a0;
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
  	text-decoration: none; 
}

.footer-space{
	margin-top: 20px;
	padding-bottom: 20px;
}

.footer a:hover, a:hover{
	color: #F2AA00;
	cursor: pointer;
}

#align ul li{
	display: inline;
	padding: 5px 5px;
}



a{
	text-decoration: none !important;
	color: #1E1E1E;
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}

ul{
	list-style-type: none;
}

.lead{
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #F2AA00;
	text-transform: uppercase;
}

.disclaimer{
	margin-top: 10px;
	font-size: 12px;
}

.disclaimer-wrapper{
	border-top: 1px solid #303030;
	background-color: #070406;
	width: 100%;
}

#ajax-search-results {
	height: auto;
	position: absolute;
	background-color: white;
	top: 100%;
	width: 100%;
	z-index: 999;
	display: none;
}

#ajax-search-results ul {
	height: auto;
}

#ajax-search-results li {
	padding: 10px;
	border-bottom: 1px solid gray;
}

/*mediaQ*/



@media screen and (max-width: 480px){
	.expiration-month {

	}

	h2.titleimage{
		font-size:3em !important;
	}

	.navbar>.container, .footer{
		background: #181818;
		background-color: #181818;
	}

	.option-sim{
		padding: 0;
	}

	.option{
		margin: 0;
		padding: 20px;
	}

	.catStars-sim{
		padding-top: 7px;
	}

	h3, .h3.productSpace-sim{
		font-size: 18px;
	}

	h3.productSpace-sim{
		font-size: 14px;
	}

	textarea{
		width: 100% !important;
	}

	.thumbnail{
		height: 230px;

	}


}


@media (min-width: 768px){

	.mobile{
		width: 70px;
	}

	.brand {
		float: left;
	}
	.login {
		float: right;
		text-align: right;

	}
	#logout-msg {
		position: absolute;
		top: 24px;
		right: 0;
		text-align: right;
	}



}

@media screen and (max-width: 767px) {


	.brand{
		text-align: center;
		padding-top: 30px;
	}

	.login {

		padding-top: 20px;
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 100%;

	}
	.social{
		width: 102px;
	}
	.menuitem{
		text-align: center;
	}

	.featured{
		margin: 20px 25px 0 25px;

	}

	.foreground{
		background-image:none;
		border-bottom: 0;
	
	}

	.catStars-sim{
		padding-top: 20px;
	}


	.nav > li > a:hover,
	.nav > li > a:focus {
	  background-color: #444444 !important;
	  color: #F2AA00;
	  cursor: pointer;
	}

	.option-sim{
		padding: 20px;
		margin: 0;
		width: 50%;
	}
	
	.option{
		margin: 0;

	}
}



@media (max-width: 991px) and (min-width: 768px){
	/*.foreground{
		width: 100%;
	}*/

	.featured{
		left: 53%;
		width: 35%;

	}

	.thumbnail{
		height: 270px ;
	}

	.option-sim{
		height: 470px;
		padding-left: 40px;
		margin: 0;

	}

	.social{
		width: 90px;
	}

	.option{
		margin: 0;
	}

}



@media screen and (min-width: 960px){
	#catalog .col-md-3 {
		width: 21.5%;
		margin-right: 2%;
	}

	#checkout-form .form-section {
		float: left;
		margin: 40px 45px 0 40px;
	}
}


@media (max-width: 991px) {


 	.nav > li > a:hover,
	.nav > li > a:focus {
	  background-color: #444444 !important;
	  color: #F2AA00;
	  cursor: pointer;
	}


    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }

}

@media (max-width: 1200px) and (min-width: 992px){
	.thumbnail{
		height: 220px;
	}


	.catStars{
		padding-top: 10px;
	}
	.option{
		margin: 0;
	}
	.featured{
		padding: 20px 30px 20px 30px;
		width: 350px;
	}
}


@media (min-width: 1200px){
	.featured{
		padding: 20px 30px 20px 30px;
		width: 350px;
	}


}


